@model project2_vvd.Models.CT_HOA_DON

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CT_HOA_DON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuongMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOA_DON.MaHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOA_DON.MaHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAN_PHAM.MaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAN_PHAM.MaSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
